<nav>
  <%= link_to 'Shelters Index', '/shelters' %>
  <%= link_to 'Pets Index', '/pets' %>
</nav>
<%= form_tag("/shelters/#{ @shelter.id }", method: :patch) do %>
  <p>Edit Details for <%= @shelter.name %></p>
  <%= label_tag "new_name" %>
  <%= text_field_tag :new_name, @shelter.name %>

  <%= label_tag "new_address" %>
  <%= text_field_tag :new_address, @shelter.address %>

  <%= label_tag "new_city" %>
  <%= text_field_tag :new_city, @shelter.city %>

  <%= label_tag "new_state" %>
  <%= text_field_tag :new_state, @shelter.state %>

  <%= label_tag "new_zip" %>
  <%= text_field_tag :new_zip, @shelter.zip %>

  <%= submit_tag "Update" %>
<% end %>
