<nav>
  <%= link_to 'Shelters Index', '/shelters' %>
  <%= link_to 'Pets Index', '/pets' %>
</nav>
<header>
  <h1>Edit Details for <%= link_to"#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>
</header>

<body>
  <div class="container">
    <%= form_tag("/shelters/#{ @shelter.id }", method: :patch) do %>
      <%= label_tag "new_name" %>
      <%= text_field_tag :new_name, @shelter.name %>
      <br/>
      <%= label_tag "new_address" %>
      <%= text_field_tag :new_address, @shelter.address %>
      <br/>
      <%= label_tag "new_city" %>
      <%= text_field_tag :new_city, @shelter.city %>
      <br/>
      <%= label_tag "new_state" %>
      <%= text_field_tag :new_state, @shelter.state %>
      <br/>
      <%= label_tag "new_zip" %>
      <%= text_field_tag :new_zip, @shelter.zip %>
      <br/>
      <%= submit_tag "Update" %>
    <% end %>
  </div>
</body>
