<nav>
  <%= link_to 'Shelters Index', '/shelters' %>
  <%= link_to 'Pets Index', '/pets' %>
</nav>
<header>
  <h1>Shelters Index</h1>
</header>

<body>
  <% @shelters.each do |shelter| %>
    <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></h3>
    <%= link_to "Edit Info for #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete #{shelter.name}", delete_shelter_path(shelter.id), method: :delete %>
  <hr>
  <% end %>
</body>
<footer>
  <%= link_to "New Shelter", "/shelters/new" %>
  <%= link_to 'See Shelters Ordered by Name', '/shelters?order=name' %>
  <%= link_to 'Shelters by Adoptable Pets', '/shelters?order=adoptable_pets' %>
</footer>
