<nav>
  <%= link_to 'Shelters Index', '/shelters' %>
  <%= link_to 'Pets Index', '/pets' %>
</nav>
<h1>Shelters Index</h1>

<% @shelters.each do |shelter| %>
  <h3><a href='/shelters/<%= shelter.id %>' title="See details"><%= shelter.name %></a></h3>
  <a href='/shelters/<%= shelter.id %>/edit' title="edit shelter">Edit Info for <%= shelter.name %></a>
  <%= button_to "Delete #{shelter.name}", delete_shelter_path(shelter.id), method: :delete %>
<hr>
<% end %>
<a href='/shelters/new'>New Shelter</a>
