<h1>Shelters Index</h1>

<% @shelters.each do |shelter| %>
  <h4><%= shelter.name %></h4>
  <p><%= shelter.address %><br>
  <%= shelter.city %><br>
  <%= shelter.state %><br>
  <%= shelter.zip %></p>
<% end %>
