<nav>
  <%= link_to 'Shelters Index', '/shelters' %>
  <%= link_to 'Pets Index', '/pets' %>
</nav>
<h1><a href="/shelters/<%= @shelter.id %>"><%= @shelter.name %></a> Pets</h1>

<% @shelter.pets.each do |pet| %>
  <img src="<%= pet.image %>"/>
  <p>
    <a href="/pets/<%= pet.id %>"><%= pet.name %></a><br/>
    <%= pet.approximate_age %><br/>
    <%= pet.sex %><br/>
    <a href="/pets/<%= pet.id %>/edit">Edit Info</a>
    <%= button_to "Delete #{pet.name}", delete_pet_path(pet.id), method: :delete %>
  </p>
<% end %>
<a href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a>
