<h1><%= @shelter.name %> Pets</h1>

<% @pets.each do |pet| %>
  <img src="<%= pet.image %>"/>
  <p>
    <%= pet.name %><br/>
    <%= pet.approximate_age %><br/>
    <%= pet.sex %><br/>
  </p>
<% end %>
<a href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a>
