<nav>
  <%= link_to "Shelters Index", '/shelters' %>
  <%= link_to "Pets Index", '/pets' %>
</nav>
<header>
  <p>Edit Info For <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></p>
</header>
<body>
  <div class="container">
    <%= form_tag("/pets/#{ @pet.id }", method: :patch) do %>
      <%= label_tag "image" %>
      <%= text_field_tag :image, @pet.image %>
      <br>
      <%= label_tag "name" %>
      <%= text_field_tag :name, @pet.name %>
      <br>
      <%= label_tag "description" %>
      <%= text_field_tag :description, @pet.description %>
      <br> 
      <%= label_tag "approximate_age" %>
      <%= text_field_tag :approximate_age, @pet.approximate_age %>
      <br>
      <select name='sex' value='<%= @pet.sex %>'>
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select>
      <br>

      <%= submit_tag "Update Pet" %>
    <% end %>
  </div>
</body>
