<nav>
  <%= link_to 'Shelters Index', '/shelters' %>
  <%= link_to 'Pets Index', '/pets' %>
</nav>
<header>
  <h1>All Pets</h1>
</header>

<body>
  <% @pets.each do |pet| %>
    <img src="<%= pet.image %>"/>
    <div class="pet-info">
    <p class="pet-info">
      <a href='/pets/<%= pet.id %>' class="pet-name" id='Show <%= pet.name %>'><%= pet.name %></a>
      <a href="/pets/<%= pet.id %>/edit">Edit Info for <%= pet.name %></a><br/>
        Approximate Age: <%= pet.approximate_age %><br/>
        Sex: <%= pet.sex %><br/>
        Sheltered At: <%= pet.shelter.name %><br/>
        <%= link_to "Delete #{pet.name}", delete_pet_path(pet.id), class: "delete-button", method: :delete %><br/>
      </p>
    </div>
  <% end %>
</body>
<footer>
  <%= link_to "Show Adoptable Pets", "/pets?adoptable=true" %>
  <%= link_to "Show Pets with Pending Adoptions", "/pets?adoptable=false" %>
</footer>
