<nav>
  <a href="/shelters">Shelters Index</a>
  <a href="/pets">Pets Index</a>
</nav>
<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <img src="<%= pet.image %>"/>
  <p><%= pet.name %><br/>
  <%= pet.approximate_age %><br/>
  <%= pet.sex %><br/>
  <%= pet.shelter.name %><br/></p>
  <a href="/pets/<%= pet.id %>/edit">Edit Info for <%= pet.name %></a>
  <%= button_to "Delete #{pet.name}", delete_pet_path(pet.id), method: :delete %>
<% end %>


