<nav>
  <%= link_to 'Shelters Index', '/shelters' %>
  <%= link_to 'Pets Index', '/pets' %>
</nav>
<header>
  <h1>Create New Pet</h1>
</header>
<%= form_tag("/shelters/#{ @shelter.id }/pets") do %>
  <%= label_tag :image %>
  <%= text_field_tag :image %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :description %>
  <%= text_field_tag :description %>

  <%= label_tag :approximate_age %>
  <%= text_field_tag :approximate_age %>

  <select id="sex" name="sex">
    <option value="Female">Female</option>
    <option value="Female">Male</option>
  </select>

  <%= submit_tag "Create Pet" %>
<% end %>

