<nav>
  <%= link_to 'Shelters Index', '/shelters' %>
  <%= link_to 'Pets Index', '/pets' %>
</nav>
<header>
  <h1>Details For <%= @pet.name %></h1>
</header>
<img src="<%= @pet.image %>"/>
<div class="pet-info">
<h1>Name: <%= @pet.name %></h1>
<p>
  Description: <%= @pet.description %><br/>
  Approximate Age: <%= @pet.approximate_age %><br/>
  Sex: <%= @pet.sex %><br/>
  Adoption Status: <%= @pet.adoption_status %><br/>
  <a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
  <%= link_to "Delete Pet", @pet, method: "delete" %>
</p>
</div>
